body {
  font-family: Arial;
  margin: 0;
  background: #f3f3f3;
}

.navbar {
  background: #131921;
  padding: 15px;
  display: flex;
  gap: 20px;
  color: white;
}

.logo {
  color: orange;
}

.navbar input {
  flex: 1;
  padding: 8px;
}

.cart-btn {
  color: white;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

button {
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}
